.encabezado{



}

.lasenia{

    margin-left: 24%;

}

.generalitat{

    margin-left: 16%;
   

}

#alumno, #grupo, #profe, #horari, #fecha, #hora, #lloc{

    float:right;

}
.falta{
	
/* 	display:inline;
	float:left; */
}

#botonera{

    margin: 0 auto;
	

}

.form-check-label{
	
	width:inherit;
	
}

.form-check-input{
	
	margin-top:3px;
}

div label{

    
    
   
  }

  div input{

    
	

  }

  .divlinea{

   

  }

  #inputGroupDif{

    font-size: 11px;
  

}
