.encabezado{



}

.lasenia{

    margin-left: 24%;

}

.generalitat{

    margin-left: 16%;
   

}

#alumno, #grupo, #profe, #horari, #fecha, #hora, #lloc{

    float:right;

}

.row{

    

}

div label{

    width:35%;
    float:left;
   
  }

  div input{

    width:60%;

  }

  .divlinea{

   

  }

  #inputGroupDif{

    font-size: 11px;
  

  }