ul{
            list-style-type: none;   
}
ul li{
            display: inline;
}
.botoncikos .oculto{

            visibility:hidden;
}
.shadowhu:hover .oculto{

            visibility:visible;
} 
.shadowhube:hover .oculto{

    visibility:visible;
}
li img{
            width: 100px;
            transition: width 2s;  
}
img:hover {
            width: 200px;
    
}
.botoncikos{
    text-align:center;
            padding:20px;
            
            
}
.shadowhu, .shadowhube, .shaman{

    font-size: 10px;
    float:left;

}

