.contenedor{

  width:932px;
  position:relative;
  top:50px;
}
.jumbotron{

    padding:30px;

}

.Cabecera, #divLista, .listado{

    width:100%;
  }

 #divLista{

    border: solid rgb(219, 219, 219) 1px;
    border-radius: 4px;

 } 

/* #divLista div{

    float:left;

} 

 .Cabecera div{

    float:left;

}

Con el siguiente estilo nos ahorramos los anteriores */

.contenedor div{
                            
    float:left;
}
/* .container-fluid{
    position: relative;
    left: calc(50% - 450px);
    width: 900px;
} */

.Cabecera{

    background-color: white;
    border:none;
    border-radius: 10px 10px 0px 0px;
}




.divAlumno, .cabezAl{

    padding-left: 10px;

}

.divAlumno, .divProfe,  .cabezAl, .cabezProf{

    width:230px;
    height: 30px;
    padding-top: 5px;

}

.cabezFecha, .divFecha{

    width:250px;
    height: 30px;
    padding-top: 5px;
    padding-left: 55px;

}

.divGravedad, .cabezGrav{

    width:90px;
    height: 30px;
    padding-top: 5px;
 

}

.cabezEditar, .divEnlace{

    width:130px;
    height: 30px;
    padding-top: 5px;  

}



.divEnlace a{


    /* float:right; */
    font-size: 13px;
    padding-right: 10px;

}

#divLista .divListar:nth-child(odd) {
    background-color: rgb(219, 219, 219);
  }
  
#divLista .divListar:nth-child(even) {
    background-color: #cecece;
  }